// 主色彩
$color-main: #4293F4;
$color-hover: #3762bf;

/* 色彩 */
$color-primary: #2163E0;
$color-background: #F3F6F8;
$color-warning: #FE3737;
$color-feebleWarning: #FF8B00;
$color-success: #13CE66;
$box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);

/* 主内容宽度 */
$width-main: 1200px;

$prefix: ys;
